/* =======================
   Layout/Footer
   ======================= */

.footer {
	background: url('#{$imagesPath}/bg-foot.png');
	height: 134px;
	@include adjust-font-size-to(13px); 
	padding-top: 40px;
	.logo0 {
		@extend .ir;
		@include span-columns(2, 17);
		@include push(3.5);
		@include size(90px 90px);
		background: url('#{$imagesPath}/logo-0.png');
		@include image-2x('#{$imagesPath}/logo-0@2x.png', 90px, 90px);
	}
}
.copyright {
	@include span-columns(10, 17);
}
