/* =======================
   Layout/Home
   ======================= */

.home {
}
%double-bg {
	&:before, &:after {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
// 無敵雙背景
body {
	@extend %double-bg;
	&:before {
		content: '';
		background: url('#{$imagesPath}/bg1.png') no-repeat center top;
	}
	border-bottom: 6px solid #5f751e;
}
.bg {
	@extend .container;
	min-height: 410px;
	background: url('#{$imagesPath}/bg1.png') no-repeat center top;
}

// HOME
// ----------------------
%block {
	margin-top: 20px;
}
.block-a {
	@include size(780px 120px);
	background-image: url('#{$imagesPath}/bg2.png');
	@extend %block;
}

.block-b {
	@include size(780px 196px);
	background-image: url('#{$imagesPath}/bg3.png');
	@extend %block;
}

.block-c {
	@include size(780px 330px);
	background-image: url('#{$imagesPath}/bg4.png');
	@extend %block;
}
.block-d {
	@include size(200px 714px);
	background-image: url('#{$imagesPath}/bg5.png');
	@extend %block;
}