/* =======================
   Layout/Nav
   ======================= */
$mainNavColor: #f2ebb0;
.main-nav {
	font-size: 1em;
	height: 40px;
	line-height: 40px;
	@extend %breadcrumbs;
	@extend %breadcrumbs-sections;
	li + li:before {
		color: $mainNavColor;
	}
	a {
		color: $mainNavColor;
		padding: 0 1em;
		display: inline-block;
	}
}
.top-nav {
	@extend %cont-font-size;
	@extend %navbar-right;
	@extend %breadcrumbs;
	@extend %breadcrumbs-sections;
	li + li:before {
		color: $black-80;
	}
	a {
		color: $black-80;
	}
}
.breadcrumbs {
	@extend %cont-font-size;
	@extend %breadcrumbs;
	margin-top: 10px;
	li + li:before {
		color: $red;
	}
	a {
		color: $red;
	}
}
