// Base Colors
// =======================

$gray: lighten($black, 20%);
$lightgray: lighten($black, 50%);

// Theme Colors
// =======================

$violet: #B163A3;

$colorPrimeary: #ea376a;

$grid-background-column-color: rgba(#f15a14,.2);
$grid-background-baseline-color: rgba(#009a8e,.3);
