/* =======================
   Module/Button
   ======================= */

%btn {
	@include filter-gradient(#f9f9f9, #e9e9e9); // IE6-8
	@include background-image(linear-gradient(#f9f9f9, #e9e9e9));
	@include border-radius(3px);
	@include inline-block();

	padding: .1em .75em;
	height: 2em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	margin-top: -2px; //fix chrome
	&:hover {
		background: #f3f3f3;
	}
	&:active {
		box-shadow: inset 0 1px 2px rgba(#000, .2);
	}
}

@mixin btn($color,$color1) {
	@extend %btn;
	@include filter-gradient($color, darken($color, 10%)); // IE6-8
	@include background-image(linear-gradient($color, darken($color, 10%)));
	color: #fff;
	&:hover {
		background: $color1;
		// background: darken($color1, 10%);
		color: #fff;
	}
}