.page-title__space {
	background-image: url('#{$imagesPath}/page-title');
	margin: 5px 0 -10px 0; 
	margin-left: 130px;
	span {
		margin-left: -130px;
		font-size: 1.125em;
		@extend %bold;
		font-family: $fontMing;
		color: $primary;
	}
}