= render "partials/layout-header"
= render "partials/layout-main-nav"
.main.description
	.breadcrumbs
		ul
			li: a href="javascript:;" 首頁
			li.active: a href="javascript:;" 詳目顯示
	h1.page-title
		.page-title__space
			span 《 詳目顯示 》
	.area
		.content
			.page-control-bar style="text-align: center"
				.col1.item-data
					input type="checkbox" name="" id=""
					| 第14筆/共155筆
				.col2.pagination
					a.icon-first href="javasctipt:;"
					a.icon-prev href="javasctipt:;"
					a.icon-next href="javasctipt:;"
					a.icon-last href="javasctipt:;"
				.col3.jump-to
					a.btn--df href="javascript:;" 跳至
					input<> type="text" size="2"
					| / 20頁
				.col4
					a.btn--back href="javascript:;" 回查詢結果
			.clearfx
				.fr style="margin-top: 10px; margin-bottom: 10px;"
					a.btn--df> href="javascript:;" 影像瀏覽
					a.btn--df< href="javascript:;" 全文檢索
			.clearfx
			table.search-result-item width="100%" border="0"
				caption
				tr
					th scope="row" width="15%" 提名
					td
						b = zh_lorem_sentence
				tr
					th scope="row" 日期
					td 民國七年(1918年)三月十九日
				tr
					th scope="row" 內容
					td = zh_lorem_paragraph 
				tr
					th scope="row" 文件類型
					td 函電
				tr
					th scope="row" 相關人名
					td: a href="javascript:;" =zh_lorem_name
				tr
					th scope="row" 相關地名
					td: a href="javascript:;" =zh_lorem_name
				tr
					th scope="row" 備註
					td = zh_lorem_sentence 
				tr
					th scope="row" 出處
					td 國父全集第五冊第48頁
			
			.function-utility
				ul.function-tab
					li: a href="javascript:;" 推文
					li: a href="javascript:;" 推薦
					li: a href="javascript:;" 評分
					li: a href="javascript:;" 引用網址
					li: a href="javascript:;" 轉寄
				.tab-content
					ul
						li.tabs-item 推文內容
						li.tabs-item 推薦內容
						li.tabs-item 評分內容
						li.tabs-item 引用網址內容
						li.tabs-item 轉寄內容

			.page-control-bar style="text-align: center"
				.col1.item-data
					input type="checkbox" name="" id=""
					| 第14筆/共155筆
				.col2.pagination
					a.icon-first href="javasctipt:;"
					a.icon-prev href="javasctipt:;"
					a.icon-next href="javasctipt:;"
					a.icon-last href="javasctipt:;"
				.col3.jump-to
					a.btn--df href="javascript:;" 跳至
					input<> type="text" size="2"
					| / 20頁
	.side--right
		.related
			h2.block__title 本系統相關資料
			-4.times do
				h3.related-title
					| 國父全集
					a.more href="javascript:;" more
				ul.related-list 
					li: a href="javascript:;" 民權主義第四講
					li: a href="javascript:;" = zh_lorem_words 10 
					li: a href="javascript:;" = zh_lorem_words 10 
		.related	
			h2.block__title 其他系統相關資料
			ol.related-list 
				li: a href="javascript:;" 民權主義第四講
				li: a href="javascript:;" = zh_lorem_words 10 
				li: a href="javascript:;" = zh_lorem_words 10 
		
=render "partials/layout-foot"