// 國館紀要

.header
	.logo.logo-yasten-history
		= image_tag (lorem_image("400x100&text=[I am LOGO 400x100]"))
	.subject-link
		ul
			li: a href="javascript:;" 本館大事要覽
			li: a href="javascript:;" 本館影音
			li: a href="javascript:;" 本館照片
	.top-nav
		ul
			li
				| 回首頁（
				a<> href="javascript:;" 中山學術資料庫
				| / 
				a<> href="javascript:;" 國立國父紀念館
				| )
			li: a href="javascript:;" 網路書城
.main
	.row.yasten-history__banner
		.search-utility
			.search-utility--seach
				h2.title 檢索功能
				ul.search-row
					li
						input type="text"
					li
						a.search-utility__btn--search href="javascript:;" 搜尋
				.clearfix
				lebel
					| 查詢日期: 
					ul.search-row
						li
							select
								option
									| 民國前
									=rand(99)
									| 年（
									=rand(9999)
									| ）
							select
								option =rand(12)
							| 月	
							select
								option =rand(30)
							| 日 ~ 
							select
								option
									| 民國前
									=rand(99)
									| 年（
									=rand(9999)
									| ）
							select
								option =rand(12)
							| 月	
							select
								option =rand(30)
							| 日
	.row.time-line2
		a.scroll_prev.prev href="javascript:;" prev
		.scrollable
			ul.items
				- 8.times do
					li.time-line__item
						= image_tag(lorem_image("170x126"))
						.item__list
							| 民國
							=rand(105)
							| 年
							=rand(12)
							| 月
							=rand(31)
							| 日
							br =zh_lorem_sentence
		a.scroll_next.next href="javascript:;" next

	.row.history__contarea
		h2.title-cn-style
			span 年代瀏覽
		ul.nav__list02
			li: a href="javascript:;" 民國 52 ~ 60 年 (1963~1971)
			li: a href="javascript:;" 民國 61 ~ 65 年 (1972~1976)
			li: a.currnet href="javascript:;" 民國 66 ~ 70 年 (1975~1981)
			li: a href="javascript:;" 民國 71 ~ 75 年 (1982~1986)
			li: a href="javascript:;" 民國 76 ~ 80 年 (1987~1991)
			li: a href="javascript:;" 民國 81 ~ 85 年 (1992~1996)
			li: a href="javascript:;" 民國 86 ~ 90 年 (1997~2001)
			li: a href="javascript:;" 民國 91 ~ 95 年 (2002~2006)
			li: a href="javascript:;" 民國 96 ~ 100 年(2007~2011)
			li: a href="javascript:;" 民國 101 年     (2012)
		.history__cont
			.search-utility.search-life
				.search-tab
					ul
						li: a href="javascript:;" 民國66年(1977)
						li: a href="javascript:;" 民國67年(1978)
						li: a href="javascript:;" 民國68年(1979)
						li: a href="javascript:;" 民國69年(1980)
						li: a href="javascript:;" 民國70年(1981)
				form.tab-content
					ul
						li.tabs-item.search-utility--seach
							ul.search-row
								-7.times do
									li
										span.history__date
											| ◆ 
											=rand(12)
											| 月	
											=rand(30)
											| 日
										span =zh_lorem_sentence
										img src="img/picture.png"
										img src="img/photos.png"
								.history__pic
									-4.times do
										= image_tag (lorem_image("140x95&text=[img]"))
						/ 其它年代頁籤
						-4.times do
							li.tabs-item.search-utility--adv-seach
								p =zh_lorem_paragraph

=render "partials/layout-foot-b"